//Creación de Formulario Simple

<div>
    <p>Welcome</p>
    <input type="text" id="input"/>
    <div id="paragraph"></div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="realTimeProducts.js" type="application/javascript"></script>
    